<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">

        <nav class="header">
            <span class="logo">SHAREUS</span>
        </nav>
        
        <section class="download">
            <img class="download__icon" src="/img/download-sd.svg" alt="inshare-download">
            <% if(locals.error){ %>
                <h4><%= locals.error %> 😏</h4>
                <% } else { %>
                    <h2>Your file is ready to download</h2>
                    <!-- <p>Link expires in 24 hours</p> -->
                    <div class="download__meta">
                        <h4><%= filename %></h4>
                        <small><%= parseInt(filesize/1000) %> KB</small>
                    </div>
                    <div class="send-btn-container">
            <a href="<%= downloadLink %>">Download file</a>
        </div>
        <% } %>
    </section>
</div>
</body>
</html>